/* Color Palette
  White: #F3F2EB;
  Black: #000000;
  Medium Gray: #999999;
  Light Gray: #dddddd;
  Light blue: #99ffff;
*/


/*********** Begin Layout Styles ***********/
body {
  background-color: #F3F2EB;
}

div.container {
  background-color: #F3F2EB;
  margin-left: auto;
  margin-right: auto;
  max-width: 900px; /* disable this line if you want full-width layouts */
}

header, main, footer {
  padding: 15px;
  margin: 15px;
}

/* phones (base layout is mobile-first) */
header {
  align-items: center;
  background-color: #5A5A5A;
  /*border: 3px solid #990000;  disable this line once layout works */
  border-bottom: 5px solid #BC313A;
  display: grid;
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "logo logo"
    "menulink rateus";


}

main {
  /*border: 3px solid #009900;  disable this line once layout works */
  display: grid;
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  grid-template-columns: 1fr;
  grid-template-areas:
    "carousel"
    "shake"
    "fries"
    "hours"
    "map";
}

footer {
  /* border: 3px solid #000099; disable this line once layout works */
  background-color: #5A5A5A;
  border-top: 5px solid #BC313A;
  display: grid;
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  grid-template-columns: 1fr;
  grid-template-areas:
    "rate"
    "hire"
    "phone"
    "email"
    "name";
}

/* tablets and small laptops */
@media (min-width: 600px) {

  header {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
      "logo menulink rateus";
  }

  main {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "carousel carousel"
      "shake fries"
      "hours map";
  }

  footer {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "rate phone"
      "hire email"
      "name .";
  }

  #shake-intro {
    grid-column: span 2;
  }

  #fries-intro {
    grid-column: span 2;
  }

  #pick {
    grid-column: span 2;
  }

  #special{
    grid-column: span 2;
  }

  #continued{
    grid-column: span 2;
  }
}

/* desktops */
@media (min-width: 900px) {
  header {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
      "logo menulink rateus";
  }

  main {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "carousel carousel"
      "shake fries"
      "hours map";
  }

  footer {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
    "rate rate rate"
    "hire phone email"
    "name name name";
  }
}

div {
  /*border: 1px solid #999999; disable this line once layout works */
  /*text-align: center; disable this line once layout works */
  box-sizing: border-box;
}

main div {
  /*  min-height: 80px; disable this line once layout works */

}

div#logo {
  grid-area: logo;
}

div#menulink {
  grid-area: menulink;
}

div#carousel {
  grid-area: carousel;
  max-width: 1000px;
  overflow:hidden;
}

div#shake {
   grid-area: shake;
    background-color: #AA0000;
    height: 100%;
    position: relative;
    z-index: 1;
    transition: background-color 0.3s;
}

div#shake::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: .2;
  z-index: -1;
  background-image: url("../img/cherry-shake.jpg");
  background-position: center;
  background-size: 100% auto;
  transition: background-size 0.3s, opacity 0.3s, background-color 0.3s;
}

div#shake:hover {
  background-color:#AA0000;
}

div#shake:hover::before{
  background-size: 110%;
  opacity: .7;
}

div#fries {
   grid-area: fries;
    background-color: #5A5A5A;
    height: 100%;
    position: relative;
    z-index: 1;
    transition: background-color 0.3s;
}

div#fries::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: .2;
  z-index: -1;
  background-image: url("../img/back-fries.jpg");
  background-position: center;
  background-size: 100% auto;
  transition: background-size 0.3s, opacity 0.3s, background-color 0.3s;
}

div#fries:hover {
  background-color: #5A5A5A;
}

div#fries:hover::before{
  background-size: 110%;
  opacity: .7;
}

div#map {
  grid-area: map;
}

div#rate {
  grid-area: rate;
  text-align: center;
}

div#hire {
  grid-area: hire;
  text-align:center;
}

div#phone {
  grid-area: phone;
  text-align: center;
}

div#email{
  grid-area: email;
  text-align: center;
}

div#name {
  grid-area: name;
  font-family: 'Crushed', cursive;
}







.inner {
  border: double #767676;
  height: calc(100% - 60px);
  margin: 30px;
  padding: 30px;
}

.close {
  border: double #767676;
  height: calc(100% - 60px);
  margin: 30px;
  padding: 30px;
}

.menulink {
  padding-left: 30px;
}



/*********** End Layout Styles ***********/


/*********** Begin Content Styles ***********/

/* Headings */
h1 {

}

h2 {
  text-align: center;
  color: #5A5A5A;
  font-family: 'Yeseva One', cursive;

}

#shake h2 {
  color: #F3F2EB;
  margin-top: 0;
  text-align: center;
  font-family: 'Yeseva One', cursive;
}

#shake p {
  text-align: center;
  color: #F3F2EB;
  font-family: 'Crushed', cursive;
  font-size: 22px;
}
#fries h2 {
  color: #F3F2EB;
  margin-top: 0;
  text-align: center;
  font-family: 'Yeseva One', cursive;
}

#fries p {
  text-align: center;
  color: #F3F2EB;
  font-family: 'Crushed', cursive;
  font-size: 22px;
}

h3 {
color: #AA0000;
}

h4 {

}

h5 {

}

h6 {

}

/* Paragraphs and lists */

p {
color: #5A5A5A;
font-family: 'Crushed', cursive;
}

#menu p {
  color: #ffffff;
    text-align: center;
}

ol {

}

ul {
  font-family: 'Crushed', cursive;
  font-size: 20px;

}

li {

}

/* tables */

table {

}

caption {

}

tr {

}

th {

}

td {

}

/* images */
img {
max-width: 100%;
}

/* links */

a:link {
background-color: #5A5A5A;
border: 2px solid #BC313A;
border-radius: 8px;
font-size: 30px;
color: #F3F2EB;
text-decoration: none;
font-weight: bold;
font-family: 'Spectral SC', serif;

}


a:visited {
  background-color: #5A5A5A;
  border: 2px solid #BC313A;
  border-radius: 8px;
  color: #F3F2EB;
  text-decoration: none;
  font-weight: bold;
}

a:hover {

}

a:active {

}

img, iframe {
  max width: 100%;
}

/* forms */



/*********** End Content Styles ***********/
